.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 600px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.left-section {
    background-color: #e8e6e1;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 500px;
}

.logo,
.logo2 {
    max-width: 60%;
    height: auto;
    margin-bottom: -50px;
}

.right-section {
    background-color: var(--bege-dois, #c8b4a6);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.login-box {
    background-color: #ded2c3;
    padding: 50px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.login-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--preto, #1f1f1f);
}

.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--cinza-dois, #eeeeee);
    border-radius: 5px;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options label {
    font-size: 14px;
    color: var(--cinza-cinco, #8b8b8b);
}

.forgot-password {
    font-size: 14px;
    text-decoration: none;
    color: var(--cinza-cinco, #8b8b8b);
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: var(--verde-medio-um, #718174);
    color: var(--branco, #fefcfc);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.separator {
    text-align: center;
    margin: 20px 0;
}

.separator span {
    color: var(--cinza-cinco, #8b8b8b);
}

.register {
    text-align: center;
    font-size: 14px;
    color: #1f1f1f;
    margin-top: 20px; /* Adiciona espaço acima */
    line-height: 1.5;
}

.register a {
    display: block;
    color: var(--preto, #1f1f1f);
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
}
