.book-card {
    background-color: #EEEEEE;
    border-radius: 12px;
    width: 250px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
  
.book-card-header {
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
  
.book-image {
    width: 100px;
    height: 150px;
    border-radius: 0%;
}
  
.book-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #1c3a3e;
}
  
.book-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
  
.book-genre, .book-author {
    font-size: 10px;
    color:#000 ;
}
  
.book-description {
    font-size: 12px;
    color: #777;
    text-align: center;
}

/* Container para a foto de perfil */
.profile-pic-container {
    display: flex;
    justify-content: center; /* Centraliza a foto horizontalmente */
    margin-bottom: 16px; /* Espaçamento abaixo da foto de perfil */
}

/* Estilo para a foto de perfil */
.profile-pic {
    width: 80px; /* Ajuste conforme necessário */
    height: 80px; /* Ajuste conforme necessário */
    border-radius: 50%; /* Faz com que a imagem fique em forma de elipse */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
    border: 3px solid #ddd; /* Borda opcional para a foto de perfil */
}